@charset "UTF-8";
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-webkit-keyframes spinReverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
  }
}
@-webkit-keyframes moveThumps {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes hideOnStart {
  0% {
    right: -110%;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url("../fonts/lato/Lato-Hairline.woff") format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url("../fonts/lato/Lato-Light.woff") format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url("../fonts/lato/Lato-Regular.woff") format('woff');
}
@font-face {
  font-family: "yantre";
  src: url("../fonts/yantre.eot");
  src: url("../fonts/yantre.eot?#iefix") format("embedded-opentype"), url("../fonts/yantre.woff") format("truetype"), url("../fonts/yantre.fonts_path_yantresvg#yantre") format("svg"), url("../fonts/yantre.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:hover:before,
[class*=" icon-"]:hover:before {
  color: #ffffff;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "yantre";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: color 0.5s ease;
  color: #dddddd;
}
.icon-thumbs-up:before {
  content: "\e000";
}
.icon-load:before {
  content: "\e001";
}
.icon-cog:before {
  content: "\e002";
}
.icon-left:before {
  content: "\e007";
}
.icon-right:before {
  content: "\e008";
}
.icon-check:before {
  content: "\e003";
}
.icon-store:before {
  content: "\e005";
}
.icon-default:before {
  content: "\e004";
}
.icon-background:before {
  content: "\e009";
}
.icon-tools:before {
  content: "\e00a";
}
.icon-info:before {
  content: "\e00b";
}
html {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 600px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}
body > div,
body #apps > div {
  width: 1024px;
  margin: 0 auto;
  max-width: 1024px !important;
}
body a {
  color: #dddddd;
  text-decoration: none;
  font-size: 1rem;
}
body,
body h1,
body h1 + p {
  -webkit-transition: color 0.8s ease;
}
#actions {
  position: absolute;
  right: 0rem;
  top: 0.5rem;
  z-index: 5;
}
#actions > i,
#actions a {
  font-size: 1.5rem;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
}
#options_btn:hover {
  -webkit-animation: spin 3s linear infinite;
}
#clock {
  display: inline-block;
  border-radius: 6px;
  margin: 4rem auto 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  height: 240px;
}
#clock,
#clock .flip-clock-wrapper,
#clock div.inn {
  -webkit-transition: background-color 0.8s ease;
}
#clock h1 {
  position: absolute;
  top: -4.8rem;
  bottom: 2rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 100;
}
#clock .flip-clock-wrapper {
  clear: both;
  width: auto;
  min-height: auto;
  display: inline-block;
  background-color: rgba(15, 15, 15, 0.5);
  padding: 2rem;
  border-radius: 6px;
}
#clock .flip-clock-wrapper .flip-clock-divider {
  top: 1.75rem;
}
#clock .flip-clock-wrapper .flip-clock-divider .flip-clock-dot {
  background-color: #dddddd;
}
#clock .flip-clock-wrapper ul {
  font: normal 11px "Lato", sans-serif;
  font-weight: 100;
  width: 7rem;
  height: 9rem;
  font-size: 10rem;
  line-height: 8.7rem;
  color: #dddddd;
}
#clock .flip-clock-wrapper ul li a {
  cursor: default;
}
#clock .flip-clock-wrapper ul li a div.up:after {
  top: 4.46rem;
  height: 0.1rem;
}
#clock .flip-clock-wrapper ul li a div div.inn {
  font-size: 9rem;
}
#apps {
  position: relative;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset -3.2rem 4.5rem 0.8rem -4rem rgba(0, 0, 0, 0.4);
  padding-bottom: 0.7rem;
  margin: 20px 0 0 0;
  bottom: 0px;
  height: 110px;
}
#apps .bx-wrapper .bx-viewport {
  background: none;
  border: none;
  box-shadow: none;
}
#apps .bx-wrapper .bx-prev {
  left: 2rem;
}
#apps .bx-wrapper .bx-prev:hover {
  background-position: inherit;
}
#apps .bx-wrapper .bx-prev,
#apps .bx-wrapper .bx-next {
  top: 3.5rem;
  font-size: 2rem;
  text-indent: 0;
  -webkit-transform: scale(1);
  -webkit-transition: -webkit-transform 0.25s ease;
}
#apps .bx-wrapper .bx-prev.disabled,
#apps .bx-wrapper .bx-next.disabled {
  display: block;
  -webkit-transform: scale(0) !important;
  cursor: default !important;
}
#apps .bx-wrapper .bx-prev:hover,
#apps .bx-wrapper .bx-next:hover {
  -webkit-transform: scale(1.25);
}
#apps .bx-wrapper .bx-next {
  right: 2rem;
}
#apps .bx-wrapper .bx-next:hover {
  background-position: inherit;
}
#apps ul a {
  display: inline-block;
  overflow: hidden;
  margin: 0 1rem 0.5rem 1rem;
  -webkit-transition: color 1s ease;
  padding: 0 0.25rem 0.25rem 0.25rem;
}
#apps ul a:hover {
  color: #fff;
}
#apps ul a img {
  width: 64px;
  height: 64px;
  display: inline-block;
  -webkit-transition: -webkit-filter 1s ease;
}
#apps ul a h4 {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font: normal 11px "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  max-width: 7.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#apps.grayscale ul a img {
  -webkit-transition: -webkit-filter 1s ease;
  -webkit-filter: grayscale(100%);
}
#apps.grayscale ul a:hover img {
  -webkit-filter: grayscale(0%);
}
#mails {
  margin: 0 auto;
  width: 858px;
  height: calc(100% - 461px);
}
#mails > i {
  font-size: 5rem;
  margin-top: 3rem;
  display: inline-block;
}
#mails .read h1 {
  padding-right: 3.5rem;
}
#mails .read i {
  margin-left: 0.5rem;
  margin-top: 0.35rem;
  display: inline-block;
  position: absolute;
  -webkit-animation: moveThumps 1s ease 0.25s alternate;
}
#mails .read p {
  font-size: 1.5rem;
  margin: 0;
  padding-right: 3.5rem;
}
#mails .read,
#mails .unread {
  text-align: center;
}
#mails .read h1,
#mails .unread h1 {
  font-size: 3rem;
  margin: 0;
  font-weight: 100;
}
#mails .unread h1 {
  font-size: 2.25rem;
}
#mails .unread + ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: calc(100% - 48px);
  overflow: auto;
}
#mails .unread + ul > li {
  -webkit-animation: fadeIn 1s linear;
  list-style: none;
  margin: 0.25rem;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: background 0.5s ease;
  border-radius: 6px;
}
#mails .unread + ul > li:hover {
  background: rgba(0, 0, 0, 0.6);
}
#mails .unread + ul > li a {
  position: relative;
  display: block;
  height: 6rem;
  padding: 0.5rem;
  text-align: left;
}
#mails .unread + ul > li a strong {
  font-weight: 400;
}
#mails .unread + ul > li a > strong {
  display: block;
  width: 50%;
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#mails .unread + ul > li a .info {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  padding: 0;
  font-size: 0.85rem;
}
#mails .unread + ul > li a .info li {
  list-style: none;
  padding: 0;
  margin: 0.2rem 0.4rem 0 0;
  text-align: right;
}
#mails .unread + ul > li a .info li:first-child strong {
  font-weight: 300;
}
#mails .unread + ul > li a .info li:last-child strong {
  font-weight: 400;
}
#mails .unread + ul > li a p {
  font-weight: 300;
  font-size: 1.15rem;
  max-height: 3.5rem;
  overflow: auto;
  margin-bottom: 0;
}
#options {
  width: 350px;
  position: absolute;
  top: 3rem;
  right: -110%;
  background: -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(#f0f0f0));
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  border-radius: 6px 0 0 6px;
  -webkit-transform: translateX(110%);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  z-index: 9999;
  text-align: left;
  padding: 1rem 2rem;
  height: calc(100% - 225px);
  min-height: 375px;
  -webkit-animation: hideOnStart 0 linear 1s infinite alternate;
}
#options.show {
  -webkit-transform: translateX(0%);
}
#options > ul {
  width: calc(100% + 4rem);
  margin: 0;
  padding: 0;
  position: relative;
  left: -2rem;
  top: -1rem;
  z-index: 10003;
}
#options > ul li {
  list-style: none;
  display: inline-block;
  width: 33.3%;
  text-align: center;
}
#options > ul li:first-child i {
  border-radius: 6px 0 0 0;
}
#options > ul li i {
  padding-top: 1rem;
  font-size: 1.25rem;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
  cursor: pointer;
  height: 50px;
  display: block;
  padding-bottom: 0.5rem;
  color: #ffffff;
  background-color: #1a1a1a;
  box-shadow: inset -5px -15px 10px -10px rgba(0, 0, 0, 0.75);
}
#options > ul li i:hover {
  background-color: #262626;
}
#options > ul li i:before {
  display: block;
  color: #ffffff;
}
#options > ul li i.active {
  color: #333333;
  background-color: transparent;
  box-shadow: none;
}
#options > ul li i.active:before {
  color: #333333;
}
#options > div {
  position: relative;
  margin: -1rem -2rem;
  height: calc(100% - 130px);
}
#options > div section {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 0.5rem 1rem 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: -webkit-transform 0.5s ease;
  -webkit-transform: translateX(110%);
}
#options > div section.show {
  -webkit-transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s 0.5s ease;
}
#options > div section#general_options div:last-of-type {
  margin-bottom: 1rem;
}
#options > div section > h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
  font-weight: 100;
  color: #333333;
}
#options > div section > h1:nth-of-type(n+2) {
  margin-top: 1.5rem;
}
#options #credits > ul {
  margin: 0;
  padding: 0;
}
#options #credits > ul li {
  list-style: none;
  color: #333333;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#options #credits > ul li a {
  display: block;
  margin-left: 0.5rem;
  color: #063457;
}
#options #credits > ul li a:hover {
  text-decoration: underline;
}
#options input[type="checkbox"],
#options input[type="radio"] {
  display: none;
}
#options input[type="checkbox"]:checked + label:before,
#options input[type="radio"]:checked + label:before {
  opacity: 1;
}
#options .mail_label label {
  font-size: 1.4rem;
  color: #333333;
  line-height: 2rem;
}
#options .mail_label input {
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  border-radius: 6px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
  border: none;
  padding: 0.25rem 0.5rem;
  font: normal 11px "Lato", sans-serif;
  font-weight: 100;
  text-shadow: 0 0.1rem 0.2rem #333333;
  color: #dddddd;
  font-size: 1rem;
  width: 20rem;
}
#options .mail_label .save {
  background-color: #fff;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
  padding: 0.25rem 0.5rem;
  color: #333333;
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: background-color 0.5s ease;
}
#options .mail_label .save:hover {
  background-color: #f2f2f2;
}
#options .checkbox label {
  cursor: pointer;
  font-size: 1.4rem;
  position: relative;
  line-height: 2rem;
  padding-left: 2rem;
  color: #333333;
}
#options .checkbox label:after,
#options .checkbox label:before {
  position: absolute;
  left: 0;
  top: 0.15rem;
}
#options .checkbox label:after {
  content: '';
  width: 24px;
  height: 24px;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  border-radius: 6px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
  display: inline-block;
  z-index: 10;
}
#options .checkbox label:before {
  opacity: 0;
  color: #dddddd;
  z-index: 20;
  font-size: 1.25rem;
  -webkit-transition: opacity 0.5s ease;
  top: 0.2rem;
  left: 0.15rem;
}
#options .capture {
  display: inline-block;
}
#options .capture:nth-child(odd) {
  margin: 0 1rem 1rem 0.5rem;
}
#options .capture label {
  position: relative;
  display: inline-block;
  height: 175px;
  width: 175px;
  cursor: pointer;
}
#options .capture label:before {
  opacity: 0;
  position: absolute;
  font-size: 3rem;
  bottom: 0;
  right: 0;
  z-index: 10002;
  -webkit-transition: opacity 0.5s ease;
}
#options .capture label > .info,
#options .capture label > .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -webkit-transition: -webkit-transform 0.5s ease;
}
#options .capture label > .img {
  z-index: 10001;
}
#options .capture label > .info {
  position: absolute;
  z-index: 10000;
  background-color: #333333;
  color: #dddddd;
  -webkit-transform: scale(0.65);
}
#options .capture label > .info > strong {
  position: absolute;
  top: 0;
  font-size: 1.25rem;
  font-weight: 300;
  left: 0;
  text-align: center;
  width: 100%;
}
#options .capture label > .info > div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#options .capture label > .info > div > span {
  display: inline-block;
  width: 45%;
  text-align: center;
}
#options .capture label > .info > div > span:first-of-type {
  margin-right: 0.5rem;
}
#options .capture label:hover .img {
  -webkit-transform: scale(0.65);
}
#options .capture label:hover .info {
  -webkit-transform: scale(1);
}
#options .contributors {
  position: absolute;
  bottom: -5rem;
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  box-shadow: inset -5px -10px 10px -10px rgba(0, 0, 0, 0.75), inset -5px 10px 10px -10px rgba(0, 0, 0, 0.75);
}
#options .contributors > a {
  padding: 0.25rem 2rem;
  width: 8.875rem;
  display: inline-block;
  position: relative;
  -webkit-transition: background-color 0.5s ease;
}
#options .contributors > a:hover {
  box-shadow: inset -5px -10px 10px -10px rgba(0, 0, 0, 0.75), inset -5px 10px 10px -10px rgba(0, 0, 0, 0.75);
  background-color: #262626;
}
#options .contributors > a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
#options .contributors > a strong {
  display: block;
}
#options .contributors > a strong,
#options .contributors > a span {
  color: #ffffff;
  font-weight: 300;
}
#options .contributors > a span {
  position: absolute;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 100;
}
#options .contributors > a:first-of-type {
  text-align: right;
}
#options .contributors > a:first-of-type span {
  left: 1rem;
}
#options .contributors > a:last-of-type {
  padding-left: 1rem;
  width: 9.875rem;
}
#options .contributors > a:last-of-type img {
  margin-left: 0.5rem;
}
#options .contributors > a:last-of-type span {
  right: 0rem;
}
.theBeach {
  background: url("../images/beach.jpg");
}
.bluePrintGrungy {
  background: url("../images/blueprint.jpg");
}
.bluePrintClean {
  background: url("../images/blueprint.png");
}
.bookeh {
  background: url("../images/bookeh.jpg");
}
.linenDark {
  background: url("../images/dark-linen.png");
}
.linenLight {
  background: url("../images/light-linen.png");
}
.filthyTile {
  background: url("../images/filthy-tile.jpg");
}
.navyBlue {
  background: url("../images/navy_blue.jpg");
}
.redWine {
  background: url("../images/red-blur.jpg");
}
.redMesh {
  background: url("../images/red-mesh.jpg");
}
.default {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(100%, #0e0e0e));
}
body {
  background-position: top center;
  font: normal 11px "Lato", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.1rem 0.2rem #333333;
  color: #dddddd;
}
body.transition {
  -webkit-transition: background 0.8s ease;
}
body.transition i.loader {
  -webkit-animation: spinReverse 2s linear infinite;
}
body h1,
body h1 + p {
  color: #dddddd;
}
body.dark h1,
body.dark h1 + p {
  color: #333333;
}
body.theBeach #clock {
  background-color: rgba(0, 0, 0, 0.2);
}
body.theBeach #clock .flip-clock-wrapper {
  background-color: rgba(15, 15, 15, 0.5);
}
body.theBeach #clock .flip-clock-wrapper ul li a div div.inn {
  background-color: #54462d;
}
body.bluePrintGrungy #clock,
body.bluePrintClean #clock {
  background-color: rgba(0, 0, 0, 0.2);
}
body.bluePrintGrungy #clock .flip-clock-wrapper,
body.bluePrintClean #clock .flip-clock-wrapper {
  background-color: rgba(15, 15, 15, 0.5);
}
body.bluePrintGrungy #clock .flip-clock-wrapper ul li a div div.inn,
body.bluePrintClean #clock .flip-clock-wrapper ul li a div div.inn {
  background-color: #063457;
}
body.bookeh #clock {
  background-color: rgba(0, 0, 0, 0.2);
}
body.bookeh #clock .flip-clock-wrapper {
  background-color: rgba(15, 15, 15, 0.5);
}
body.bookeh #clock .flip-clock-wrapper ul li a div div.inn {
  background-color: #0e2524;
}
body.linenDark #clock {
  background-color: rgba(0, 0, 0, 0.2);
}
body.linenDark #clock .flip-clock-wrapper {
  background-color: rgba(15, 15, 15, 0.5);
}
body.linenDark #clock .flip-clock-wrapper ul li a div div.inn {
  background-color: #1a1a1a;
}
body.linenLight #clock {
  background-color: rgba(0, 0, 0, 0.2);
}
body.linenLight #clock .flip-clock-wrapper {
  background-color: rgba(15, 15, 15, 0.5);
}
body.linenLight #clock .flip-clock-wrapper ul li a div div.inn {
  background-color: #333333;
}
body.filthyTile #clock {
  background-color: rgba(0, 0, 0, 0.5);
}
body.filthyTile #clock .flip-clock-wrapper {
  background-color: rgba(54, 53, 47, 0.2);
}
body.filthyTile #clock .flip-clock-wrapper ul li a div div.inn {
  background-color: #0d0e09;
}
body.navyBlue #clock {
  background-color: rgba(0, 0, 0, 0.2);
}
body.navyBlue #clock .flip-clock-wrapper {
  background-color: rgba(15, 15, 15, 0.5);
}
body.navyBlue #clock .flip-clock-wrapper ul li a div div.inn {
  background-color: #35383d;
}
body.redWine #clock {
  background-color: rgba(0, 0, 0, 0.2);
}
body.redWine #clock .flip-clock-wrapper {
  background-color: rgba(15, 15, 15, 0.5);
}
body.redWine #clock .flip-clock-wrapper ul li a div div.inn {
  background-color: #1f0d06;
}
body.redMesh #clock {
  background-color: rgba(0, 0, 0, 0.2);
}
body.redMesh #clock .flip-clock-wrapper {
  background-color: rgba(15, 15, 15, 0.5);
}
body.redMesh #clock .flip-clock-wrapper ul li a div div.inn {
  background-color: #191513;
}
