@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
@charset "UTF-8";
@font-face {
  font-family: "yantre";
  src: url("../fonts/yantre.eot");
  src: url("../fonts/yantre.eot?#iefix") format("embedded-opentype"), url("../fonts/yantre.ttf") format("truetype"), url("../fonts/yantre.svg#yantre") format("svg"), url("../fonts/yantre.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:hover:before,
[class*=" icon-"]:hover:before {
  color: #8c8c8c;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "yantre";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  transition: color 0.5s ease;
  color: #cccccc;
}
.icon-thumbs-up:before {
  content: "\e000";
}
.icon-load:before {
  content: "\e001";
}
.icon-cog:before {
  content: "\e002";
}
.icon-left:before {
  content: "\e007";
}
.icon-right:before {
  content: "\e008";
}
.icon-check:before {
  content: "\e003";
}
.icon-store:before {
  content: "\e005";
}
.icon-default:before {
  content: "\e004";
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 600px;
  text-align: center;
  background: url("../images/red-blur.jpg") top center;
  -webkit-font-smoothing: antialiased;
  transition: background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-size: 62.5%;
  font: normal 11px "Lato", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.1rem 0.2rem #333333;
  color: #cccccc;
  transition: color 0.5s ease;
}
body > div,
body #apps > div {
  width: 1024px;
  margin: 0 auto;
}
body a {
  color: #cccccc;
  text-decoration: none;
  font-size: 1rem;
}
body.dark #clock h1,
body.dark #mails h1 {
  color: #444444;
}
#actions {
  position: absolute;
  right: 0rem;
  top: 0.5rem;
}
#actions > i,
#actions a {
  font-size: 1.5rem;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
}
#options_btn:hover {
  -webkit-animation: spin 3s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
#clock {
  display: inline-block;
  border-radius: 6px;
  margin: 4rem auto 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}
#clock h1 {
  position: absolute;
  top: -4.8rem;
  bottom: 2rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 100;
}
#clock .flip-clock-wrapper {
  clear: both;
  width: auto;
  min-height: auto;
  display: inline-block;
  background-color: rgba(15, 15, 15, 0.5);
  padding: 2rem;
  border-radius: 6px;
}
#clock .flip-clock-wrapper .flip-clock-divider {
  top: 1.75rem;
}
#clock .flip-clock-wrapper .flip-clock-divider .flip-clock-dot {
  background-color: #cccccc;
}
#clock .flip-clock-wrapper ul {
  font: normal 11px "Lato", sans-serif;
  font-weight: 100;
  width: 7rem;
  height: 9rem;
  font-size: 10rem;
  line-height: 8.7rem;
  color: #cccccc;
}
#clock .flip-clock-wrapper ul li a {
  cursor: default;
}
#clock .flip-clock-wrapper ul li a div.up:after {
  top: 4.2225rem;
  height: 0.1rem;
}
#clock .flip-clock-wrapper ul li a div div.inn {
  font-size: 9rem;
}
#apps {
  position: relative;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: inset -3.2rem 4.5rem 0.8rem -4rem rgba(0, 0, 0, 0.4);
  padding-bottom: 0.7rem;
  margin: 20px 0 0 0;
  bottom: -11px;
}
#apps .bx-wrapper .bx-viewport {
  background: none;
  border: none;
  box-shadow: none;
}
#apps .bx-wrapper .bx-prev {
  left: 2rem;
}
#apps .bx-wrapper .bx-prev:hover {
  background-position: inherit;
}
#apps .bx-wrapper .bx-prev,
#apps .bx-wrapper .bx-next {
  top: 3.5rem;
  font-size: 2rem;
  text-indent: 0;
  transform: scale(1);
  transition: transform 0.25s ease;
}
#apps .bx-wrapper .bx-prev.disabled,
#apps .bx-wrapper .bx-next.disabled {
  display: block;
  transform: scale(0) !important;
  cursor: default !important;
}
#apps .bx-wrapper .bx-prev:hover,
#apps .bx-wrapper .bx-next:hover {
  -webkit-transform: scale(1.25);
}
#apps .bx-wrapper .bx-next {
  right: 2rem;
}
#apps .bx-wrapper .bx-next:hover {
  background-position: inherit;
}
#apps ul a {
  display: inline-block;
  overflow: hidden;
  margin: 0 1rem 0.5rem 1rem;
  transition: color 1s ease;
  padding: 0 0.25rem 0.25rem 0.25rem;
}
#apps ul a:hover {
  color: #fff;
}
#apps ul a img {
  width: 64px;
  height: 64px;
  display: inline-block;
}
#apps ul a h4 {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font: normal 11px "Lato", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}
#apps.grayscale ul a img {
  transition: -webkit-filter 1s ease;
  -webkit-filter: grayscale(100%);
}
#apps.grayscale ul a:hover img {
  -webkit-filter: grayscale(0%);
}
#mails {
  margin: 0 auto;
  height: calc(100% - 461px);
  overflow: auto;
  width: 858px;
}
#mails .read h1 {
  padding-right: 3.5rem;
}
#mails .read i {
  margin-left: 0.5rem;
  display: inline-block;
  position: absolute;
  -webkit-animation: moveThumps 0.5s ease 1 alternate;
}
@-webkit-keyframes moveThumps {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
#mails .read p {
  font-size: 1.5rem;
  margin: 0;
  padding-right: 3.5rem;
}
#mails .read,
#mails .unread {
  text-align: center;
}
#mails .read h1,
#mails .unread h1 {
  font-size: 3rem;
  margin: 0;
  font-weight: 100;
  text-shadow: 0 0.1rem 0.2rem #333333;
}
#mails .unread h1 {
  font-size: 2.5rem;
}
#mails .unread + ul {
  position: relative;
  margin: 0;
  padding: 0;
}
#mails .unread + ul > li {
  list-style: none;
  margin: 0.25rem;
  background: rgba(0, 0, 0, 0.4);
  transition: background 0.5s ease;
  border-radius: 6px;
}
#mails .unread + ul > li:hover {
  background: rgba(0, 0, 0, 0.6);
}
#mails .unread + ul > li a {
  position: relative;
  display: block;
  height: 6rem;
  padding: 0.5rem;
  text-align: left;
}
#mails .unread + ul > li a strong {
  font-weight: 400;
}
#mails .unread + ul > li a > strong {
  display: block;
  width: 50%;
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#mails .unread + ul > li a .info {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  padding: 0;
  font-size: 0.85rem;
}
#mails .unread + ul > li a .info li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
#mails .unread + ul > li a .info li:first-child strong {
  font-weight: 300;
}
#mails .unread + ul > li a .info li:last-child strong {
  font-weight: 400;
}
#mails .unread + ul > li a p {
  font-weight: 300;
  font-size: 1.15rem;
  max-height: 3.5rem;
  overflow: auto;
  margin-bottom: 0;
}
#options {
  width: 350px;
  position: absolute;
  left: calc(50% - 175px);
  top: -110%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  border-radius: 0 0 6px 6px;
  transform: translateY(-110%);
  transition: transform 0.5s ease-out;
  z-index: 9999;
  text-align: left;
  padding: 1rem 2rem;
  -webkit-animation: hideOnStart 0 linear 1s infinite alternate;
}
@-webkit-keyframes hideOnStart {
  from {
    top: -110%;
  }
  to {
    top: 0;
  }
}
#options.show {
  transform: translateY(0%);
}
#options label {
  cursor: pointer;
  font-size: 1.75rem;
  position: relative;
  padding-left: 2rem;
  color: #444444;
}
#options label:after,
#options label:before {
  position: absolute;
  left: 0;
  top: 0.25rem;
}
#options label:after {
  content: '';
  width: 24px;
  height: 24px;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  border-radius: 6px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
  display: inline-block;
  z-index: 10;
}
#options label:before {
  opacity: 0;
  color: #cccccc;
  z-index: 20;
  font-size: 1.25rem;
  transition: opacity 0.5s ease;
  top: 0.4rem;
  left: 0.15rem;
}
#options input {
  display: none;
}
#options input:checked + label:before {
  opacity: 1;
}
