<div id="setFontColor">
  <label for="fontColor">Use dark font color? <input type="checkbox" name="{{darkFont.name}}" {{#if darkFont.value}} checked="checked" {{/if}} /></label> 
</div>

<div id="setAppGrayscale">
  <label>Use grayscale for app icons? <input type="checkbox" name="{{grayApps.name}}" {{#if grayApps.value}} checked="checked" {{/if}} /></label> 
</div>

<button id="done">Done</button>