#clock {
  display: inline-block;
  border-radius: @borderRadius;
  margin: 4rem auto 1rem;
  background-color: rgba(0,0,0,0.2);
  position: relative;

  h1 {
    position: absolute;
    top: -4.8rem;
    bottom: 2rem;
    left: 30%;
    font-size: 2rem;
    font-weight: @fontWeight;
  }

  .flip-clock-wrapper {
    clear: both;
    width: auto;
    min-height: auto;
    display: inline-block;
    background-color: rgba(15,15,15,0.5);
    padding: 2rem;
    border-radius: @borderRadius;

    .flip-clock-divider {
      top: 1.75rem;
      .flip-clock-dot { background-color: @lightFontColor; }
    }

    ul {
      font: @font;
      font-weight: @fontWeight;
      width: 7rem;
      height: 9rem;
      font-size: 10rem;
      line-height: 8.7rem;
      color: @lightFontColor;

      li a {
        cursor: default;

        div {
          &.up:after {
            top: 4.2225rem;
            height: 0.1rem;
          }

          div.inn { font-size: 9rem; }
        }
      }
    }
  }
}