#clock {
  display: inline-block;
  border-radius: @borderRadius;
  margin: 4rem auto 1rem;
  background-color: @clockDefaultBackgroundColor;
  position: relative;
  height: 240px;

  &,
  .flip-clock-wrapper,
  div.inn { -webkit-transition: background-color 0.8s ease; }

  h1 {
    position: absolute;
    top: -4.8rem;
    bottom: 2rem;
    width: 100%;
    font-size: 2rem;
    font-weight: @fontWeightLight;
  }

  .flip-clock-wrapper {
    clear: both;
    width: auto;
    min-height: 1%;
    display: inline-block;
    background-color: @clockWrapperDefaultBackgroundColor;
    padding: 2rem;
    border-radius: @borderRadius;

    .flip-clock-divider {
      top: 1.75rem;
      .flip-clock-dot { background-color: @lightFontColor; }
    }

    ul {
      font: @font;
      font-weight: @fontWeightLight;
      width: 7rem;
      height: 9rem;
      font-size: 10rem;
      line-height: 8.7rem;
      color: @lightFontColor;

      li a {
        cursor: default;

        div {
          &.up:after {
            top: 4.46rem;
            height: 0.1rem;
          }

          div.inn { font-size: 9rem; }
        }
      }
    }
  }
}
