@path: '../fonts/yantre';
@font-face {
  font-family: "yantre";
  src:url("@{path}.eot");
  src:url("@{path}.eot?#iefix") format("embedded-opentype"),
    url("@{path}.ttf") format("truetype"),
    url("@{path}.svg#yantre") format("svg"),
    url("@{path}.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  &:hover { color: darken(@lightFontColor, 10%); }
  &:before {
    font-family: "yantre";
    font-style: normal;
    font-weight: normal;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    transition: color 0.5s ease;
    color: @lightFontColor;
  }
}

.dark [class^="icon-"]:hover,
.dark [class*=" icon-"]:hover { color: lighten(@darkFontColor, 10%); }

.icon-thumbs-up:before { content: "\e000"; }
.icon-load:before { content: "\e001"; }
.icon-cog:before { content: "\e002"; }
.icon-left:before { content: "\e007"; }
.icon-right:before { content: "\e008"; }
.icon-check:before { content: "\e003"; }
.icon-store:before { content: "\e005"; }
.icon-default:before { content: "\e004"; }
