@path: '../fonts/yantre';
@font-face {
  font-family: "yantre";
  src:url("@{path}.eot");
  src:url("@{path}.eot?#iefix") format("embedded-opentype"),
    url("@{path}.ttf") format("truetype"),
    url("@{path}.svg#yantre") format("svg"),
    url("@{path}.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  &:hover:before { color: darken(@lightFontColor, 25%); }
  &:before {
    font-family: "yantre";
    font-style: normal;
    font-weight: normal;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    transition: color 0.5s ease;
    color: @lightFontColor;
  }
}

.icon-thumbs-up:before { content: "\e000"; }
.icon-load:before { content: "\e001"; }
.icon-cog:before { content: "\e002"; }
.icon-left:before { content: "\e007"; }
.icon-right:before { content: "\e008"; }
.icon-check:before { content: "\e003"; }
.icon-store:before { content: "\e005"; }
.icon-default:before { content: "\e004"; }


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Light'), local('Lato-Hairline'), url("../font/lato/Lato-Hairline.ttf") format('tff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Book'), local('Lato-Light'), url("../../client/assets/embed/opensans400.woff") format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url("../../client/assets/embed/opensans600.woff") format('woff');
}