@fonts_path: '../fonts/';
@fonts_path_yantre: "@{fonts_path}yantre";
@fonts_path_lato: "@{fonts_path}lato/";

// google web font Lato
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400");

// icon font YANTRE -> build with http://fontastic.me/
@font-face {
  font-family: "yantre";
  src:url("@{fonts_path_yantre}.eot");
  src:url("@{fonts_path_yantre}.eot?#iefix") format("embedded-opentype"),
    url("@{fonts_path_yantre}.woff") format("truetype"),
    url("@{fonts_path_yantre}.fonts_path_yantresvg#yantre") format("svg"),
    url("@{fonts_path_yantre}.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  &:hover:before { color: @lightFontColorLighten; }
  &:before {
    font-family: "yantre";
    font-style: normal;
    font-weight: normal;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: color 0.5s ease;
    color: @lightFontColor;
  }
}

.icon-thumbs-up:before { content: "\e000"; }
.icon-load:before { content: "\e001"; }
.icon-cog:before { content: "\e002"; }
.icon-left:before { content: "\e007"; }
.icon-right:before { content: "\e008"; }
.icon-check:before { content: "\e003"; }
.icon-store:before { content: "\e005"; }
.icon-default:before { content: "\e004"; }
.icon-background:before { content: "\e009"; }
.icon-tools:before { content: "\e00a"; }
.icon-info:before { content: "\e00b"; }
