#mails {
  .read {
    i { margin-left: 0.5rem; }
    p {
      font-size: 1.5rem;
      margin: 0;
      padding-right: 3.5rem;
    }
  }

  .read,
  .unread {
    text-align: center;

    h1 {
      font-size: 3rem;
      margin: 0;
      font-weight: @fontWeight;
    }
  }
  .read {
    margin: 0 auto;
    padding: 0;
    height: calc(~"100% - 461px");
    min-height: 6rem;
  }
  .unread h1 { font-size: 2.5rem; }

  .unread + ul {
    position: relative;
    width: 858px;
    margin: 0 auto;
    padding: 0;
    height: calc(~"100% - 510px");
    min-height: 6rem;
    overflow: auto;
    // box-shadow: inset -3.2rem 4.5rem 0.8rem -4rem @shadowColor;

    > li {
      list-style: none;
      margin: 0.25rem;
      background: @shadowColor;
      transition: background 0.5s ease;
      border-radius: @borderRadius;

      &:hover { background: rgba(0, 0, 0, 0.6); }

      a {
        position: relative;
        display: block;
        height: 6rem;
        padding: 0.5rem;
        text-align: left;

        strong { font-weight: @fontWeight * 2; }
        > strong { 
          display: block; 
          font-weight: 400;
          width: 50%;
          font-size: 1.25rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .info {
          position: absolute;
          right: 0.25rem;
          top: 0.25rem;
          padding: 0;
          font-size: 0.85rem;

          li { 
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: right;

            &:last-child strong { font-weight: @fontWeight; }
          }
        }

        p {
          // box-shadow: inset 3.2rem 4.5rem 0.8rem -4rem @shadowColor;
          font-weight: @fontWeight * 2;
          font-size: 1.15rem;
          max-height: 3.5rem;
          overflow: auto;
          margin-bottom: 0;
        }
      }
    }
  }
}