@charset "UTF-8";
@import 'variables';
@import 'animations';
@import 'font';

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: @minHeight;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;

  > div,
  #apps > div {
    width: 1024px;
    margin: 0 auto;
    max-width: 1024px !important;
  }

  a {
    color: @lightFontColor;
    text-decoration: none;
    font-size: 1rem;
  }

  &,
  h1,
  h1 + p { -webkit-transition: color 0.8s ease; }

  .loader { 
    display: block;
    font-size: 5rem;
    margin-top: 2rem;
    position: absolute;
    width: 100%;
    left: 0;
  }
}

@import 'actions';
@import 'clock_options';
@import 'clock';
@import 'apps';
@import 'mail';
@import 'options';
@import 'options-input';
@import 'options-contributors';
@import 'theme';
