#options {
  width: 350px;
  position: absolute;
  top: 3rem;
  right: -110%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(210,210,210,1)), to(rgba(240,240,240,1)));
  box-shadow: 0px 3px 10px @shadowColor;
  border-radius: @borderRadius 0 0 @borderRadius;
  -webkit-transform: translateX(110%);
  -webkit-transition: -webkit-transform .5s ease-out;
  z-index: 9999;
  text-align: left;
  padding: 1rem 2rem;
  height: calc(~"100% - 225px");
  min-height: 375px;
  -webkit-animation: hideOnStart 0 linear 1s infinite alternate;
  &.show { -webkit-transform: translateX(0%); }

  //options header
  > ul {
    width: calc(~"100% + 4rem");
    margin: 0;
    padding: 0;
    position: relative;
    left: -2rem;
    top: -1rem;
    z-index: 10003;
    border-bottom: 1px solid @darkFontColor;

    li {
      list-style: none;
      display: inline-block;
      width: 33%;
      text-align: center;

      &:first-child i { border-radius: @borderRadius 0 0 0; }

      i {
        padding-top: 1rem;
        font-size: 1.25rem;
        -webkit-transition: color 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
        cursor: pointer;
        height: 50px;
        display: block;
        padding-bottom: 0.5rem;
        color: @darkFontColor;
        opacity: 0.5;

        &:hover { 
          color: @lightFontColorLighten; 
          opacity: 1;
        }
        &:before { display: block; }
        &.active {
          opacity: 1;
          color: @lightFontColorLighten;
          background-color: darken(@darkFontColor, 10%);
        }
      }
    }
  }

  //options content
  > div {
    position: relative;
    margin: -1rem -2rem; 
    height: calc(~"100% - 130px");

    section {
      position: absolute;
      width: calc(~"100% - 2rem");
      padding: 0.5rem 1rem 0;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-transition: -webkit-transform 0.5s ease;
      -webkit-transform: translateX(110%);
      &.show { 
        -webkit-transform: translateX(0); 
        -webkit-transition: -webkit-transform 0.5s 0.5s ease;
      }
    }
  }

  #credits {
    > ul {
      margin: 0;
      padding: 0;

      li { 
        list-style: none; 
        color: @darkFontColor;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;

        a {
          display: block;
          margin-left: 0.5rem;
          color: #063457;
          &:hover { text-decoration: underline; }
        }
      }
    }
  }
}
