#options {
  width: 97.25%;
  position: absolute;
  top: 0;
  height: 91.25%;
  left: 0;
  text-align: left;
  overflow: hidden;

  i {
    height: 100%;
    width: 50px;
    position: absolute;
    top: 0;
    font-size: 1.25rem;
    -webkit-transition: color 0.5s ease, background-color 0.5s ease;
    cursor: pointer;
    display: inline-block;
    color: @lightFontColorLighten;
    background: @darkFontColor;
    z-index: 1000;
    text-align: center;

    > span { 
      display: block; 
      font-size: 2rem;
      line-height: 5rem;
      -webkit-transform: rotate(-90deg);
    }

    &:before { 
      font-size: 2rem;
      display: block;
      line-height: 13rem;
      color: @lightFontColorLighten;
    }

    &.icon-tools { 
      left: 0; 
      border-radius: @borderRadius - 1 0 0 @borderRadius - 1;
    }
    &.icon-background {
      right: 0; 
      border-radius: 0 @borderRadius - 1 @borderRadius - 1 0;
    }

    &:hover {
      color: @logoColorDark;
      &:before { color: @logoColorDark; }
    }
    &.active {
      cursor: default;
      color: @logoColorDark;
      background: transparent;
      &:before { color: @logoColorDark; }
      box-shadow: none;
    }
  }

  //options content
  > div {
    height: 100%;
    width: 100%;
    background-color: @lightFontColor;
    border-radius: @borderRadius;

    section {
      position: absolute;
      width: calc(~"100% - 125px");
      height: calc(~"100% - 2rem");
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-transition: -webkit-transform 0.5s ease;
      overflow: hidden;

      &#theme_options {
        -webkit-transform: translateX(110%);
        &.show {
          -webkit-transform: translateX(0); 
          & + #general_options { -webkit-transform: translateX(-110%);  }
        }

        padding: 1rem 65px 1rem 10px;
        right: 0;
        border-radius: 0 @borderRadius @borderRadius 0;
        text-align: justify;

        &:after {
          content: '';
          display: inline-block;
          width: 100%;
        }
      }

      &#general_options {
        -webkit-transform: translateX(-110%);
        &.show {
          -webkit-transform: translateX(0); 
          & + #theme_options { -webkit-transform: translateX(110%);  }
        }

        padding: 1rem 10px 1rem 65px;
        border-radius: @borderRadius 0 0 @borderRadius;
        left: 0;

        > div {
          display: inline-block;
          width: 49%;

          &:last-child { float: right; }

          > h1 {
            color: @darkFontColor;
            font-weight: @fontWeightLight;
            font-size: 2rem;
            margin: 0 0 0.5rem 0;
          }
        }
      }
    }
  }
}
