#options {
  width: 350px;
  position: absolute;
  top: 3rem;
  right: -110%;
  background: transparent;
  -webkit-transform: translateX(110%);
  -webkit-transition: -webkit-transform .5s ease-out;
  z-index: 9999;
  text-align: left;
  padding: 1rem 2rem;
  height: calc(~"100% - 245px");
  min-height: 375px;
  -webkit-animation: hideOnStart 0 linear 1s infinite alternate;
  &.show { -webkit-transform: translateX(0%); }

  //options header
  > ul {
    width: calc(~"100% + 4rem");
    margin: 0;
    padding: 0;
    position: relative;
    left: -2rem;
    top: -1rem;
    z-index: 10003;
    background: transparent;

    li {
      list-style: none;
      display: inline-block;
      width: 33.3%;
      text-align: center;
      &:first-child i { border-radius: @borderRadius 0 0 @borderRadius; }
      background: transparent;

      i {
        padding-top: 1rem;
        font-size: 1.25rem;
        -webkit-transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
        cursor: pointer;
        height: 50px;
        display: block;
        padding-bottom: 0.5rem;
        color: @lightFontColorLighten;
        background: @shadowColor;
        box-shadow: inset -5px -10px 10px -10px rgba(0,0,0,0.25);

        &:hover {
          background-color: darken(@shadowColor, 10%);
          color: @logoColorDark;
          &:before { color: @logoColorDark; }
        }
        &:before { 
          display: block; 
          color: @lightFontColorLighten;
        }
        &.active {
          color: @logoColorDark;
          &:before { color: @logoColorDark; }
          box-shadow: none;
        }
      }
    }
  }

  //options content
  > div {
    position: relative;
    margin: -1rem -2rem; 
    height: calc(~"100% - 130px");
    border-radius: @borderRadius 0 0 @borderRadius;
    background: #fff;
    top: 1.25rem;

    section {
      position: absolute;
      width: calc(~"100% - 2rem");
      padding: 0.5rem 1rem 0;
      height: 96%;
      top: 0.5rem;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-transition: -webkit-transform 0.5s ease;
      -webkit-transform: translateX(110%);
      &.show { 
        -webkit-transform: translateX(0); 
        -webkit-transition: -webkit-transform 0.5s 0.5s ease;
      }

      &#general_options div:last-of-type { margin-bottom: 1rem; }

      > h1 {
        font-size: 2rem;
        margin: 0.5rem 0;
        font-weight: @fontWeightLight;
        color: @darkFontColor;

        &:nth-of-type(n+2) { margin-top: 1.5rem; }
      }
    }
  }

  #credits {
    position: relative;

    > ul {
      margin: 0;
      padding: 0;

      li { 
        list-style: none; 
        color: @darkFontColor;
        font-size: 1.5rem;
        margin-bottom: 1rem;

        a {
          display: block;
          margin-left: 0.5rem;
          color: #063457;
          &:hover { text-decoration: underline; }
        }
      }
    }

    > img {
      margin: auto;
      position: absolute;
      right: 0rem;
      bottom: 1rem;
    }
  }
}
