body {
  &.dark {
    h1,
    h1 + p { color: @darkFontColor !important; }
  }

  &.light {
    h1,
    h1 + p { color: @lightFontColor !important; }
  }
}

// bof themes with BG
#wrapper {
  transition: background 0.8s ease;
  background-position: top center;
  // The Beach Theme
  &.theBeach { 
    background: url(@theBeach);
    #clock h1,
    #mails h1 {
      color: @darkFontColor;
      text-shadow: @textShadowLight;
    }
  }

  // Blueprint Theme
  &.blueprint { 
    background: url(@bluePrint);
    #clock h1,
    #mails h1 {
      color: @lightFontColor;
      text-shadow: @textShadowLight;
    }
  }

  // Bookeh Theme
  &.bookeh { 
    background: url(@bookeh);
    #clock h1,
    #mails h1 {
      color: @lightFontColor;
      text-shadow: @textShadowDark;
    }
  }

  // Dark Linen Theme
  &.linenDark { 
    background: url(@linenDark);
    font-weight: 100;
    #clock h1,
    #mails h1 {
      color: @lightFontColor;
      text-shadow: @textShadowDark;
    }
  }

  // Light Linen Theme
  &.linenLight { 
    background: url(@linenLight);
    #clock h1,
    #mails h1 {
      color: @darkFontColor;
      text-shadow: @textShadowLight;
    }
  }

  // Light Linen Theme
  &.linenLight { 
    background: url(@linenLight);
    #clock h1,
    #mails h1 {
      color: @darkFontColor;
      text-shadow: @textShadowLight;
    }
  }

  // Filthy Tile Theme
  &.filthyTile { 
    background: url(@filthyTile);
    #clock h1,
    #mails h1 {
      color: @lightFontColor;
      text-shadow: @textShadowDark;
    }
  }

  // Grey Wash Theme
  &.greyWash { 
    background: url(@greyWash);
    #clock h1,
    #mails h1 {
      color: @lightFontColor;
      text-shadow: @textShadowDark;
    }
  }

  // Navy Blue Theme
  &.navyBlue { 
    background: url(@navyBlue);
    #clock h1,
    #mails h1 {
      color: @lightFontColor;
      text-shadow: @textShadowDark;
    }
  }

  // Red Wine Theme
  &.redWine { 
    background: url(@redWine);
    #clock h1,
    #mails h1 {
      color: @lightFontColor;
      text-shadow: @textShadowDark;
    }
  }

  // Red Mesh Theme
  &.redMesh { 
    background: url(@redMesh);
    #clock h1,
    #mails h1 {
      color: @lightFontColor;
      text-shadow: @textShadowDark;
    }
  }
// eof themes with BG
}