//@standardBackground: "../images/grey_wash_wall.png";
@standardBackground: "../images/navy_blue.png";
@shadowColor: rgba(0, 0, 0, 0.4);
@font: normal 11px "HelveticaNeueUltraLight", "Helvetica Neue UltraLight", "Helvetica Neue", Helvetica, sans-serif;
@fontWeight: 100;
@borderRadius: 6px;
@textShadow: 0 0 0.5rem #333;
@lightFontColor: #ccc;
@darkFontColor: #444;


