html
  head
    if prod
      link(rel='stylesheet', type='text/css', href='css/main.min.css')
    else
      link(rel='stylesheet', type='text/css', href='css/flipclock.css')
      link(rel='stylesheet', type='text/css', href='css/jquery.bxslider.css')
      link(rel='stylesheet', type='text/css', href='css/main.css')
    
    title New Tab
  body.default
    span#actions
      i#options_btn.icon-cog
      a.icon-store(href='https://chrome.google.com/webstore')
      i#default_home.icon-default
      .icon-info
        section
          img(src='/icon/icon128.png', alt='extension icon')
          ul
            li
              | FlipClock.js
              a(href='http://flipclockjs.com/') Homepage
            li
              | Moment.js
              a(href='http://momentjs.com/') Homepage
            li
              | bxSlider
              a(href='http://bxslider.com/') Homepage
            li
              | Google Webfont Lato
              a(href='http://www.google.com/fonts/specimen/Lato') Font Description
            li
              | jQuery
              a(href='http://jquery.com/') Homepage
          .contributors
            a(href='https://github.com/mupat')
              span Hacker
              img(src='https://secure.gravatar.com/avatar/71f4bc8f66d8e0f71a42d4d36059de8d?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png', alt='avatar for Mupat')
              strong Mupat
            a(href='https://github.com/mac-cypher')
              img(src='https://secure.gravatar.com/avatar/f75332e05bb1198b9d0da05768897bb7?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png', alt='avatar for mac-cypher')
              strong mac-cypher
              span Designer
    div
      section#clock-options
        h1
        div
        section#options
      i.icon-load.loader
      section#mails
    section#apps
    if prod
      script(type='text/javascript', src='js/main.min.js')
    else
      script(type='text/javascript', src='js/jquery-2.0.2.min.js')
      script(type='text/javascript', src='js/flipclock/flipclock.min.js')
      script(type='text/javascript', src='js/handlebars.runtime.js')
      script(type='text/javascript', src='js/jquery.bxslider.min.js')
      script(type='text/javascript', src='js/moment.min.js')
      script(type='text/javascript', src='js/template.js')
      script(type='text/javascript', src='js/main.js')
